.post {
  flex: 0.4;
  padding-bottom: 10px;
  /* border-bottom: 8px solid; */
  padding-right: 10px;
  width: 100%;
  margin-left: 13%;
}

.textfield {
  padding: 20px;
  display: flex;
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

/* .post-form {
  display: inline-block;
} */

.eachPost {
  padding-bottom: 10px;
  /* border: 1px solid grey; */
  width: 100%;
  /* padding-right: 10px; */
  margin-bottom: 30px;
  margin-top: 30px;
  /* cursor: pointer; */
  min-height: fit-content;
  min-width: fit-content;
  font-size: 20px;
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  /* display: inline-block; */
  margin-left: 7px;
  box-shadow: grey;
  border-radius: 5px;
  padding: 9px;
  margin-left: 5px;
  /* display: flex; */
  background-color: #dae0e6;
}

.post-image-main{
  position: relative;
  margin-left: 34%;
}

.post-data-div{
  display: flex;
  flex-direction: row;
  /* justify-content: spa; */
}

.post-button {
  padding: 20px;
  display: flex;
  /* flex: 1; */
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.feed {
  margin-top: 50px;
}

.eachPost > p {
  cursor: pointer;
}
