header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4125c0;
}

  .left-header{
    font-family: "Century Gothic";
    margin-left: 20px;
    color: white;
  }

  .right-header{
    margin-right: 20px;
  }

  .login-btn{
    width: 100px;
    height: 40px;
    color: white;
    background-color: #66eec5;
    border: 1px solid #66eec5;
    border-radius: 50px;
    margin-top: 21px;
  }

  .join-button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: #4125c0;
    border: 1px solid #4125c0;
    border-radius: 50px;
    margin-top: 21px;
    font-size: 18px;
    font-family: "Century Gothic";
    font-weight: bold;
  }

  .join-button:hover{
    width: 100px;
    height: 40px;
    color: #4125c0;
    background-color: white;
    border: 1px solid #4125c0;
    border-radius: 50px;
    margin-top: 21px;
    font-size: 18px;
    font-family: "Century Gothic";
    font-weight: bold;
  }

/* .register-link{
  width: 110px;
  height: 50px;
  background-color: #4125c0;
  border: 1px solid #4125c0;
  border-radius: 50px;
  margin-top: 21px;
  color: #4125c0;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.register-link:hover{
  width: 110px;
  height: 50px;
  background-color: #4125c0;
  border: 1px solid #4125c0;
  border-radius: 25px;
  margin-top: 21px;
  color: #4125c0;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #66eec5;
  font-weight: bold;
  font-size: 16px;
} */

.register-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-holder{
  background: rgba( 248, 246, 250, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  padding: 70px;
}

.register-form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.register-form-header{
  font-family: "Century Gothic";
}

.registerForm-inputField{
  height: 50px;
  width: 300px;
  font-size: 16px;
  font-family: "Century Gothic";
  padding-left: 15px;
}

.errors{
  text-align: center;
  color:  #4125c0;
}

